{% extends "base.html" %}

{% block title %}
    Index
{% endblock %}

{% block body %}
    <span class='h1 m-t-4'>Data</span>

    <table class="table table-striped table-hover table-responsive">
        <caption>Data test</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Info</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          {% for value in data %}
          <tr>
            <th scope="row">{{ value.id }}</th>
            <td>{{ value.dataComment }}</td>
            <td>{{ value.dataValue }}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
      
      
{% endblock %}