{% extends "base.html" %}

{% block title %}
    Index
{% endblock %}

{% block body %}

<form role='form' method='post' action=''>
    <div class="card-body">
      <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">Data comment</h4>
            <div class="form-group">
              <label>Comment</label>
                {{ form.dataComment(class="form-control") }}
            </div>
            <h4 class="card-title">Data value</h4>
            <div class="form-group">
              <label>Value</label>
                {{ form.dataValue(class="form-control") }}
           </div>
          </div>
          <button type="submit" name="addData" class="btn btn-fill btn btn-success" style='margin-bottom: 5%;margin-right: 5%;margin-left: 5%;'>Add data</button>
      </div>
    </div>
</form>
      
{% endblock %}